html {
    font-family: calibri;
    background-color: rgb(13, 13, 13);
    scrollbar-width: none;
    color: rgb(33, 199, 33);
}

h1 {
    text-align: center;
    margin: 30px;
}


body {
    margin: 0;
    padding: 0;
}

.navbars:hover {
    background-color: rgba(37, 71, 51, 0.247);
}

.navbars {
    text-decoration: none;
    color: rgb(0, 159, 0);
    font-size: large;
    margin: 2px 8px;
    padding: 10px;
}

#img1 {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 10px;
    top: 10px;
}

nav {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 15px;
}

main {
    margin-top: 200px;
    padding: 10px;
}

/* end of navbar*/

#gimg1 {
    position: absolute;
    top: 170px;
    right: 50px;
    aspect-ratio: original;
    width: 450px;
    z-index: -1;
    box-shadow: 0 0 10px rgb(5, 5, 5);
}

#p-2 {
    margin: 20px;
    width: 900px;
    font-size: large;
}

.div2 {
    margin: 30px;
    font-size: large;

}

#little {
    width: 1000px;
}

.minicode {
    background-color: rgb(1, 1, 1);
    width: 500px;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

#input1 {
    background-color: black;
    border: none;
    outline: none;
    color: white;
    margin: 10px;
    height: 30px;
    font-size: large;
}

#runner {
    background-color: rgba(0, 49, 0, 0.614);
    color: rgb(226, 255, 212);
    border: none;
    outline: none;
    margin: 10px;
    padding: 8px 15px;
    border-radius: 7px;
    cursor: pointer;

}

div {
    margin: 10px 0 200px 0;
}

@media (max-width: 600px) {
    nav {
        padding: 0;
    }
    .navbars {
        margin: 2px 3px;
        font-size: 14px;
        padding: 0;
    }
    #img1 {
        width: 70px;
        height: 70px;
    }
    #gimg1 {
        width: 300px;
        top: 350px;
        position: relative;
        top: 0;
        left: 20px;
    }
    main {
        margin-top: 100px;
    }
    div {
        margin: 0 0 50px 0;
    }
    #p-2 {
        width: 300px;
    }
    #little {
        width: 300px;
    }
    .minicode {
        width: 260px;
        margin: 5px;
        padding: 10px;
    }
    .div2 {
        margin: 10px;
    }

}