html {
    font-family: calibri;
    background-color: rgb(13, 13, 13);
    scrollbar-width: none;
    color: rgb(33, 199, 33);
}

h1 {
    text-align: center;
    margin: 30px;
}

body {
    margin: 0;
    padding: 0;
}

/*forme start of navbars */

.navbars:hover {
    background-color: rgba(37, 71, 51, 0.247);
}

.navbars {
    text-decoration: none;
    color: rgb(0, 159, 0);
    font-size: large;
    margin: 2px 8px;
    padding: 10px;
}

#img1 {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: -1;
}

nav {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 15px;
}

/*forme end of navbar*/

main {
    margin-top: 200px;
    padding: 10px;
}

#gimg1 {
    aspect-ratio: original;
    margin: 100px;
    width: 600px;
    box-shadow: 0 0 5px black;
    border: 3px solid rgba(13, 87, 13, 0.866);
    border-radius: 20px;
}

div {
    margin: 10px 0 200px 0;
}

#img2 {
    aspect-ratio: original;
    width: 220px;
    margin: 30px 50px;
    border: 5px solid rgba(13, 87, 13, 0.866);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: -1;
}

#p-2 {
    margin: 20px;
    width: 900px;
    font-size: large;
}

#author {
    position: relative;
    left: 600px;
}

/*?         responivity     */ 
@media (max-width: 600px) {
    nav {
        padding: 0;
    }
    .navbars {
        margin: 2px 3px;
        font-size: 14px;
        padding: 0;
    }
    #img1 {
        width: 70px;
        height: 70px;
    }
    #gimg1 {
        width: 300px;
        top: 350px;
        position: relative;
        top: 0;
        left: 20px;
        margin: 8px;
    }
    main {
        margin-top: 100px;
    }
    div {
        margin: 0 0 50px 0;
    }
    #img2 {
        width: 300px;
        margin: 30px 20px;
    }
    #p-2 {
        width: 300px;
    }
    #author {
        left: 160px;
        width: 100px;
    }
    #img2 {
        width: 100px;
        position: relative;
        top: 20px;
        left: 25%;
    }
}