html {
    font-family: calibri;
    background-color: rgb(13, 13, 13);
    scrollbar-width: none;
    color: rgb(33, 199, 33);
}

h1 {
    text-align: center;
    margin: 30px;
}

body {
    margin: 0;
    padding: 0;
}

.navbars:hover {
    background-color: rgba(37, 71, 51, 0.247);
}

.navbars {
    text-decoration: none;
    color: rgb(0, 159, 0);
    font-size: large;
    margin: 2px 8px;
    padding: 10px;
}

#img1 {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 10px;
    top: 10px;
}

nav {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 15px;
}

/* end of navbar */

main {
    margin-top: 200px;
    padding: 10px;
}

div {
    margin: 10px 0 200px 0;
}

p {
    font-size: 20px;
    margin: 20px;
}
p a {
    text-decoration: none;
    color: rgba(99, 219, 99, 0.899);
    margin: 30px 20px;
}

.facebooker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


@media (max-width: 600px) {
    nav {
        padding: 0;
    }
    .navbars {
        margin: 2px 3px;
        font-size: 14px;
        padding: 0;
    }
    #img1 {
        width: 70px;
        height: 70px;
    }
    #gimg1 {
        width: 300px;
        top: 350px;
        position: relative;
        top: 0;
        left: 20px;
    }
    main {
        margin-top: 100px;
    }
    div {
        margin: 0 0 50px 0;
    }
    
}