html {
    font-family: calibri;
    background-color: rgb(13, 13, 13);
    scrollbar-width: none;
    color: rgb(33, 199, 33);
}

h1 {
    text-align: center;
    margin: 30px;
}

body {
    margin: 0;
    padding: 0;
}

.navbars:hover {
    background-color: rgba(37, 71, 51, 0.247);
}

.navbars {
    text-decoration: none;
    color: rgb(0, 159, 0);
    font-size: large;
    margin: 2px 8px;
    padding: 10px;
}

#img1 {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 10px;
    top: 10px;
}

nav {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 15px;
}

main {
    margin-top: 200px;
    padding: 10px;
    margin-left: 30px;
    font-size: large;
}

/* end of navbar*/

#gimg1 {
    aspect-ratio: original;
    width: 450px;
    position: absolute;
    top: 170px;
    right: 50px;
    z-index: -1;
    box-shadow: 0 0 5px black;
}

div {
    margin: 10px 0 200px 0;
}

@media (max-width: 600px) {
    nav {
        padding: 0;
    }
    .navbars {
        margin: 2px 3px;
        font-size: 14px;
        padding: 0;
    }
    #img1 {
        width: 70px;
        height: 70px;
    }
    #gimg1 {
        width: 300px;
        top: 350px;
        position: relative;
        top: 0;
        left: 20px;
    }
    main {
        margin-top: 100px;
        margin-left: 10px;
    }
    div {
        margin: 0 0 50px 0;
    }
    p {
        font-size: medium;
        width: 250px;
    }
}